{% extends "layout.html" %}
<!--Tytuł strony-->
{% block title %} {{ title }} {% endblock %}

<!--Head-->
{% block head %}
{% endblock %}


<!--Navigation-->
{% block navigate %}
{% endblock %}

<!--Page Content-->
{% block content %}
  <br>
    <h3 class="text-center">{{ content }}</h3>
  <br>
  <div class="text-center container">
      {% for obj in objects%}
        <p>{{ obj.name }} - {{ obj.short }}</p>
      {% endfor %}
    {% if user.is_superuser %}

      {% include "act_form.html" %}
      <br>


    {% endif %}
  </div>
{% endblock %}
<!--Footer-->
{% block footer %}
{% endblock %}
