{% extends "layout.html" %}
<!--Tytuł strony-->
{% block title %} {{ title }} {% endblock %}

<!--Head-->
{% block head %}
{% endblock %}


<!--Navigation-->
{% block navigate %}
{% endblock %}

<!--Page Content-->
{% block content %}

  <div class="text-center pt-5 container">

  <br>
    <h3 class="p-3"> Aktualna lista obserwowanych obiektów</h3>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Lp.</th>
        <th>Nazwa Obiektu</th>
        <th>Skrót</th>
      </tr>
      </thead>
      {% for obj in objects%}
      <tr>
        <td>
          {{ forloop.counter }}
        </td>
        <td>
          {{ obj.name }}
        </td>
        <td>
          {{ obj.short }}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% if user.is_superuser %}

      {% include "act_form.html" %}
      <br>


    {% endif %}
</div>
{% endblock %}
<!--Footer-->
{% block footer %}
{% endblock %}
