{% extends "layout.html" %}
{% load static %}

<!--Tytuł strony-->
{% block title %} {{ title }} {% endblock %}

<!--Head-->
{% block head %}
{% endblock %}


<!--Navigation-->
{% block navigate %}
{% endblock %}

<!--Page Content-->
{% block content %}

  <div class="text-center container">
    <h2>Wyszukiwarka satelit</h2>
    <p>Strona wyszukuje satelity przelatujące w promieniu xxxkm (obecnie 1000km) licząc po powierzchni Ziemi od wybranego miejsca.</p>

    <p>Informacje o satelitach są zaczerpnięte z NASA - więcej informacji na ten temat znajdziesz <a href="https://sscweb.gsfc.nasa.gov/">tutaj</a> .</p>
    <p>Aktualną listę obserwowanych obiektów znajdziesz <a href="/lista">tutuaj</a>. Lista odświerzana jest codziennie o godzinie 12.</p>
    <p>Obserwacje podawan sę od godziny 12 dnia obecnego do godziny 12 dnia następnego czasu uniwersalnego (UTC).</p>
    {% include "search_form.html" %}
  </div>
{% endblock %}
<!--Footer-->
{% block footer %}
{% endblock %}
