{% extends "layout.html" %}
{% load static %}

<!--Tytuł strony-->
{% block title %} {{ title }} {% endblock %}

<!--Head-->
{% block head %}
{% endblock %}


<!--Navigation-->
{% block navigate %}
{% endblock %}

<!--Page Content-->
{% block content %}

  <div class="container">
    <h2 class="text-center" >Wyszukaj miejsce</h2>
    {% include "search_form.html" %}
    {% if not error %}
      {% include "newsletter_form.html" %}
    {% else %}
      {% if error_text %}
      <p>Niestety nie znaleziono takiego miejsca</p>
      {% endif %}
    {% endif %}
  </div>

{% endblock %}
<!--Footer-->
{% block footer %}
{% endblock %}
