{% extends "layout.html" %}

<!--Tytuł strony-->
{% block title %} {{ title }} {% endblock %}

<!--Head-->
{% block head %}
{% endblock %}


<!--Navigation-->
{% block navigate %}
{% endblock %}

<!--Page Content-->
{% block content %}

  <div class="container pt-5">
    <h2 class="text-center" >Wyszukaj miejsce</h2>

    {% include "search_form.html" %}
    {% if error_text %}

      <h3 class="text-center text-danger">{{ error_text }}</h3>
    {% endif %}
    {% if not error %}
      {% include "newsletter_form.html" %}
    {% else %}
    <p class="fs-4" >Aby zapisać się na newsletter wyszukaj miejsce o którym chcesz dostawać informację o przelatujących obiektach,
      a następnie podaj swoje dane oraz godzinę wedłóg UTC o której chcesz dostawać powiadomienia.</p>
    {% endif %}

  </div>

{% endblock %}
<!--Footer-->
{% block footer %}
{% endblock %}
