{% extends "layout.html" %}

{% load static %}
<!--Tytuł strony-->
{% block title %} {{ title }} {% endblock %}

<!--Head-->
{% block head %}
{% endblock %}


<!--Navigation-->
{% block navigate %}
{% endblock %}

<!--Page Content-->
{% block content %}
{% if not place.error %}
  <div class="maps_google">
  <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d41438.69203622493!2d{{ place.lon }}!3d{{ place.lat }}!3m2!1i1024!2i768!9f4.1!5e0!3m2!1spl!2spl!4v1638465981061!5m2!1spl!2spl"
          width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
  <div class="container">
    <div class="text-center">
      <h4>Podana lokalizacja:</h4>
      <h3>{{ place }}</h3>
    </div>

    <br>
    <div class="row text-center">
      <div class="col-4">
        <h4>Zachód słońca</h4>
        <img class="image_s" src="{% static 'sunset.png' %}" alt="Image"/>
        <p class="fs-4"><b>{{ sunset }}</b></p>
      </div>
      <div class="col-4">
        <img class="image_s" src="{% static 'globe.png' %}" alt="Image"/>
        <br>
        <p class="fs-4 text-center">Latitude: {{ place.lat }}<br>Longitude: {{ place.lon }}</p>
      </div>
      <div class="col-4">
        <h4>Wschód słońca</h4>
        <img class="image_s" src="{% static 'sunrise.png' %}" alt="Image"/>
        <p class="fs-4"><b>{{ sunrise }}</b></p>
      </div>
    </div>
  </div>
{% else %}
  <br>
  <h3 class="text-center"> Niestety podane miejsce nie zostało odnalezione. Spróbój podać inne dane adresowe.</h3>
  <br>
{% endif %}
  <div class="text-center container">
    {% include "search_form.html" %}
    {% for informacja in info %}
    <p class="fs-4 pt-4">
      Obiekt <b>{{ informacja.obj_short }}</b> poruszający się w kierunku
      <b>{{ informacja.obj_dir }} ({{ informacja.obj_dir_angle }}°)</b> z prędkością
      <b>{{ informacja.obj_speed }}km/min</b>
      <img src="{% static 'obj_tr.png' %}" class="icon_s" style="transform:rotate({{ informacja.obj_dir_angle }}deg)">
      <br>
      Najbliżej Ciebie obiekt będzie o <b>{{ informacja.obj_time }}</b>(UTC) w kierunku
      <b{{ informacja.observation_dir }} ({{ informacja.observation_dir_angle }}°)</b>
      w odległości <b>{{ informacja.obj_dist }}km</b>

        <img src="{% static 'obj_view.png' %}" class="icon_s" style="transform:rotate({{ informacja.observation_dir_angle }}deg)">
      </p>
    {% endfor %}
  </div>
{% endblock %}
<!--Footer-->
{% block footer %}
{% endblock %}
