{% extends "layout.html" %}
<!--Tytuł strony-->
{% block title %} {{ title }} {% endblock %}

<!--Head-->
{% block head %}
{% endblock %}


<!--Navigation-->
{% block navigate %}
{% endblock %}

<!--Page Content-->
{% block content %}
{% if not place.error %}
  <div class="maps_google">
  <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d41438.69203622493!2d{{ place.lon }}!3d{{ place.lat }}!3m2!1i1024!2i768!4f5.1!5e0!3m2!1spl!2spl!4v1638465981061!5m2!1spl!2spl" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
  <div class="container">
  <h3 class="text-center">Podana lokalizacja:<br>{{ place }}</h3>
  <br>
  <h4 class="text-center">Latitude: {{ place.lat }} Longitude: {{ place.lon }}</h4>
  </div>
{% else %}
  <br>
  <h3 class="text-center"> Niestety podane miejsce nie zostało odnalezione. Spróbój podać inne dane adresowe.</h3>
  <br>
{% endif %}
  <div class="text-center container">
    {% include "search_form.html" %}
  </div>
{% endblock %}
<!--Footer-->
{% block footer %}
{% endblock %}
